<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Search Page</title>
<link href="../static/css/layout.css" th:href="@{/css/layout.css}"
	rel="stylesheet" />
<!-- <script type="text/javascript" src="controller.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
	<h1 th:text="${title}"></h1>
	<form autocomplete="off" action="/searchcache" method="post" th:action="@{/searchcache}" th:object="${newSearch}">
		<div class="autocomplete" style="width: 300px;">
			<input id="myInput" type="text" th:field="*{text}"
				placeholder="Search..">
		</div>
		<input type="submit" value="submit">
	</form>
	<script src="controller.js"></script>
</body>
</html>

